.topRight {
  height: 100%;
}

.row {
  display: flex;
  justify-content: space-around;
  padding-top: 16px;
  height: 80px;
  li {
    text-align: center;
  }
  .title {
    font-size: 16px;
    .percent {
      font-size: 12px;
      color: #fff;
    }
    .caretUpIcon {
      vertical-align: middle;
      font-size: 14px;
      color: #52c41a;
    }
    .caretDownIcon {
      vertical-align: middle;
      font-size: 14px;
      color: #f5222d;
    }
  }
  .content {
    font-size: 26px;
    color: #e8bb3f;
  }
}
