.homeBox {
  position: relative;
  width: 100%;
  min-width: 1920px;
  height: 100%;
  min-height: 1080px;
  font-size: 14px;
  color: #37d1ff;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 50px repeat(4, 1fr);
  grid-gap: 6px;
  padding: 6px;
  z-index: 99;
  .topLeft,
  .topCenter,
  .topRight,
  .bottomLeft,
  .bottomRight {
    position: relative;
    overflow: hidden;
    background: rgba(40, 47, 56, 0.5);
  }
  .topLeft {
    grid-area: 2 / 1 / span 2 / span 3;
    // display: flex;
  }
  .topCenter {
    grid-area: 2 / 4 / span 2 / span 3;
    display: flex;
    // .num {
    //   width: 100%;
    //   height: 100px;
    // }
  }
  .topRight {
    grid-area: 2 / 7 / span 2 / span 3;
  }
  .bottomLeft {
    grid-area: 4 / 1 / span 2 / span 6;
  }
  .bottomRight {
    grid-area: 4 / 7 / span 2 / span 3;
  }
}
